*{
  font-family: 'Rubik', sans-serif;
  color: black;
}

h1 {
  color:Gray;
  font-size: 75pt;
  /* margin-left: 20%; */
  line-height: 5pt;
  stroke: 1px;
  font-style: "bold";
  /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
}

p{
  color:black;
  font: 32pt;
  /* margin-left: 20%; */
}
/* * {
	transition: all .1s ease;
} THIS BREAKS MY CODE, NEED ANOTHER WAY...actually maybe not*/
.page-section {
    height: 600px;
    width: 100%;
    /* margin-left: 5%; */
    margin-top: 5%;
    /* padding: 3em; */
    /* background: #f7f3ce; */
    color: white;
}
.p3 {
    height: 1050px;
    width: 100%;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    /* padding: 3em; */
    background: #FBF8EC;
    color: white;
    margin-bottom: 0;
}

.p4 {
    margin-top: 0;
    height: 980px;
    width: 100%;
    /* margin-left: 5%; */
    /* padding: 3em; */
    background: #F1EFEC;
    color: white;
}

.navigation {
  	position: fixed;
		width: 20%;
		margin-left: 2%;
  	/* background-color:#EDD7F6; */
  	color: #EDD7F6;
    line-height: 2pt;
}
/* a.navigation__link {
			display: block;
    	color: black;
    	text-decoration: none;
    	padding: 1em;
			font-weight: 400;

} */
.navigation__link {
  display: block;
  color: #EDD7F6;
  text-decoration: none;
  padding: 1em;
  font-weight: 400;

}

.navigation__link:hover {
  background-color:#EDD7F6;
  color: black;
}

.navigation__link.active {
   /* background-color:#EDD7F6; */
   color: black;
 }

/* #p1:target, #p2:target, #p3:target {
  background:red;
  color:gray;
} */

/*
svg{
  background-color:#fffef0;
} */
div.infobox{
  position:fixed;
  bottom:20px;
  right:10px;
  font-size: 16pt;
  /* background:white; */
  height: 100px;
  width: 400px;
  padding: 10px;
  color:black;
  visibility: hidden;
}
.boxinfo{
  display: inline-block;
  /* background-color: red; */
  width:300px;
}
.icon{
  display: inline-block;
  width:90px;
  height:90px;
  /* visibility: hidden; */
}
img:not(.icon){
  visibility: visible;
}
.title{
  font-size: 16pt;
  font-style: "bold";
}
.author{
  font-size: 12pt;
  padding-bottom: 10px;
}
.sub{
  font-size: 12pt;
}
/* div.nav{
  position:fixed;
  width:100%;
  height:100px;
  background-color: white;
  top:0px;
  margin: 0px;
  padding: 0px;
} */

/* path.link {
  stroke: "blue";
} */

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}

/* #earth{
  fill:#000;
}
.planet {
    fill: green;
} */

#wmap{
background-color: none;
}

.titlepage{
  background-color: none;
  position: absolute;
  margin-left: 15%;
  margin-top: 15%;
  width: 300px;
}


/* introduction section */

.introtitle{
  font-style: "bold";
  color:gray;
  position: absolute;
  margin-left: 15%;
  font-size: 24pt;
  /* margin-top: 15%; */
  margin-top: 4%;
}
.introicon1{
  width:120px;
  height: 120px;
  color:#EDD7F6;
  /* background-color: black; */
  position: absolute;
  margin-left: 20%;
  margin-top: 10%;
}
.introicon2{
  width:120px;
  height: 120px;
  /* color:#EDD7F6; */
  /* background-color: black; */
  position: absolute;
  margin-left: 20%;
  margin-top: 4%;
}

.iconnumber1{
  font-style: "bold";
  font-size: 16pt;
  margin-left: 35%;
  position: absolute;
  margin-top: 12%;
}
.iconnumber2{
  font-style: "bold";
  font-size: 16pt;
  margin-left: 35%;
  margin-top: 5%;
  position: absolute;
}
.ABC{
  width:400px;
  margin-left: 38%;
  font-style: "regular";
  /* background-color: red; */
  padding-top: 12%;

}
.icondescription2{
  width:400px;
  margin-left: 38%;
  margin-top: 5%;
  font-style: "regular";

}

/* Link Environments section */
.topLE{
  /* background-color: blue; */
  margin-left: 50%;
  padding: 15px;
  position:absolute;
}
h3{
  font-style: "bold";
  color:gray;
  /* position: absolute; */
  font-size: 24pt;
  /* margin-top: 15%; */
  /* margin-top: 4%; */
  display: block;

  margin-bottom: 0;
}

.LEinfo{
display: block;
font-size: 13pt;
margin-top: 5px;
margin-bottom: 35px;
}
.dot{
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 0px;
  margin-bottom: 10px;


}

.AR{background-color: #74B471;}
.GBR{background-color: #36A8B0;}
.MLV{background-color: #E15026;}
.ME{background-color: #56769D;}
.SD{background-color: #FCC842;}

/* .AlabelR{
  display: inline-block;
}

.namear{
  background-color: white;
} */

dl{
  position: absolute;
  margin-top:-132px;
  line-height:19pt;
  margin-left:5%;
  /* padding:5px; */
}

.networkdata{
  padding-top: 10px;
  /* background-color: red; */
}

/* Data & your Choices */

h4{
  font-style: "bold";
  color:gray;
  /* position: absolute; */
  font-size: 24pt;
  /* margin-top: 15%; */
  /* margin-top: 4%; */
  display: block;
  margin-bottom: 0;
  margin-left: 50%;
  margin-top: 0;
  padding-top: 55px;
}

.DCinfo{
display: block;
font-size: 13pt;
margin-top: 5px;
margin-bottom: 55px;
margin-left: 50%;
width:600px;
/* padding: 15px; */
}

/* #chartjs-legend{
  position: inline-block;
} */

.choice{
  display: block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: black;
      margin-bottom: 15px;
    width:250px;
    text-align: center;
}
.YourQ{
  position:absolute;
  background-color: white;
  opacity: .6;
  width:275px;
  right:130px;
  padding: 20px;
  margin-top: 70px;
  border-radius: 5%;

}

.question{
  margin-bottom: 20px;
  width: 250px;
    display: inline-block;
}

.moreinfo{
  display: inline-block;
  float: right;
  background-color: #EDD7F6;
  border-radius: 100%;
  width:20px;
  height: 20px;
  text-align: center;
  fill:white;
}

.themoreinfo{
  display: none;
  position: absolute;
  background-color: #EDD7F6;
  border-radius: 5%;
  right:20px;
  font-size: 10pt;
  text-align: left;
  width:250px;
  /* margin-top:10px; */
  /* height:120px; */
  padding: 12px 12px 12px 12px;
}

.moreinfo:hover .themoreinfo{
 display: inline-block;
}


/* .radar-legend{
  color:red;
} */
